*{
    box-sizing: border-box;
}

#parent{
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 200px;
    padding: 10px;
    overflow: auto;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}
header{
font-family: 'Oswald', sans-serif;
display: -webkit-flex;
justify-content: center;
width: auto;
font-size: 48pt;
background-color: darkorange;
flex: 1
}

nav ul li a{
    font-family: 'Oswald', sans-serif;
display: -webkit-flex;
justify-content: center;
position: relative;
margin-top: 2pt;
width: auto;
margin-left: 2pt;
margin-right: 3pt;
margin-bottom: 2pt;
font-size: 24pt;


}
a:hover{
    animation: rock;
    animation-duration: 6s;
}
@keyframes rock{
    0% {transform: rotate(25deg)}
    25% {transform: rotate(-25deg)}
    50% {transform: rotate(25deg)}
    100% {transform: rotate(-25deg)}
}
body{
background-color: darkslategrey;
font-family: 'Oswald', sans-serif;
}
article{
    display: -webkit-flex;
    position: relative;
}
section{
    font-family: 'Oswald', sans-serif;
display: -webkit-flex;
flex: 2;
justify-content: space-evenly;


}
div{
display: -webkit-flex;
column-span: all;
column-count: 3;
column-rule: 1px, solid, black;
column-gap: auto;
column-fill: auto;
width: auto;
position: relative;
flex: 3;
justify-content: center;

}
a:link{
    color: black;

}
a:visited{
    color: darkblue;
}

h1{
font-size: 36pt;
position: relative;
text-shadow: black 1px;
color: black;

}
h2{
    font-size: 36pt;
    position: absolute;
    text-align: center;
    
    }

footer{
    
background-color: darkorange;
justify-content: baseline;

border: 10pt;
 
}
.iconbar a{
    align-content: last baseline;
    float: left; 
    text-align: center; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: white; 
    
}
.picture{
    display: -webkit-flex;
    flex: 4;
    justify-content: first baseline;
    align-content: flex-end;
    width: 100%;
    height: auto;
    float: left;
    padding: 30pt;
   
}

